<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {%load static%}
    <link rel="stylesheet" href="{% static 'campsite_app/css/site_add.css'%}">
    <script src="{% static 'campsite_app/js/map.js' %}" alt="map"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXR-DhGmrWqToo99WqiqgT26gabtvvO4&callback=initMap"></script>
    
</head>

<body>
    <div id="navbar">
        <h1>BivyMaps</h1><!-- 
        --><img id="nav-image" src="/static/campsite_app/images/campIcon.png" alt="campIcon"><!-- 
        -->
        <div id="nav-btns-wrapper">
            <a class="nav-btn" href="/"><b>Home</b></a><!-- 
            --><a class="nav-btn" href="/about"><b>About</b></a><!-- 
            -->{%if request.session.user%}<!-- 
            --><a class="nav-btn" href="/user/{{request.session.user}}"><b>Profile</b></a><!-- 
            --><a class="nav-btn" href="/site/add"><b>Add Site</b></a><!-- 
            --><a class="nav-btn" href="/process_logout"><b>Logout</b></a><!-- 
            -->{%else%}<!-- 
            --><a class="nav-btn" href="/login"><b>Login</b></a><!-- 
            --><a class="nav-btn" href="/login"><b>Register</b></a><!-- 
            -->
            {%endif%}
        </div>
    </div>

    <div id="map" class="map"></div>

    <h3 style="margin: 0 10%">Results:</h3>
    <div id="results">
        {%for site in sites%}
        <div class="result">
            <a href='/site/{{site.id}}' class="home-siteName">{{site.name}}</a>
            <p class='home-siteDescription'>
                {{site.description}} <br>
                Access: {{site.road_condition}}
            </p>
            <p class='home-siteServices'>
                Services: 
                {%for service in site.services.all%}
                {{service.name}}
                {%endfor%}
            </p>
            <p class='home-siteServices'>
                Activities: 
                {%for activity in site.activities.all%}
                {{activity.name}}
                {%endfor%}
            </p>
        </div>
        {%endfor%}
    </div>
</body>

</html>