<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{campsite.name}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {%load static%}
    <link rel="stylesheet" href="{% static 'campsite_app/css/site_add.css'%}">
    <script src="{% static 'campsite_app/js/siteMap.js' %}" alt="map"></script>
    <!-- <script src="{% static 'js/weather.js' %}" alt="weather"></script> -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXR-DhGmrWqToo99WqiqgT26gabtvvO4&callback=initMap"></script>
    <script>
        var site_lat = {{ campsite.latitude }};
        var site_lon = {{ campsite.longitude }};
    </script>
    <script src="{% static 'campsite_app/js/weather_api.js' %}"></script>

</head>

<body>
    <div id="navbar">
        <img id="nav-image" src="/static/campsite_app/images/campIcon.png" alt="campIcon"><!-- 
        --><a class="nav-btn" href="/"><b>Home</b></a><!-- 
        --><a class="nav-btn" href="/about"><b>About</b></a><!-- 
        -->{%if request.session.user%}<!-- 
        --><a class="nav-btn" href="/user/{{request.session.user}}"><b>Profile</b></a><!-- 
        --><a class="nav-btn" href="/site/add"><b>Add Site</b></a><!-- 
        --><a class="nav-btn" href="/process_logout"><b>Logout</b></a><!-- 
        -->{%else%}<!-- 
        --><a class="nav-btn" href="/login"><b>Login</b></a><!-- 
        --><a class="nav-btn" href="/login"><b>Register</b></a><!-- 
        -->
        {%endif%}
    </div>

    <div style="display:inline-block;vertical-align:top;text-align:right">
        <p>Name:</p>
        <p>Latitude:</p>
        <p>Longitude:</p>
    </div><!--
    --><div style="display:inline-block;vertical-align:top;margin-left:10px;">
        <p>{{ campsite.name }}</p>
        <p id="site-latitude" value='{{ campsite.latitude }}'>{{ campsite.latitude }}</p>
        <p id="site-longitude" value='{{ campsite.longitude }}'>{{ campsite.longitude }}</p>
    </div>
    <div id="map" style="height: 500px; width:500px; display:inline-block"></div>
    <div>
        <h3>Services</h3>
        {% for service in services %}
        <p>{{ service.name }}</p>
        {% endfor %}
    </div>
    <div>
        <h3>Activities</h3>
        {% for activity in activities %}
        <p>{{ activity.name }}</p>
        {% endfor %}
    </div>
    <div id="weatherdiv"></div>
</body>

</html>