* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: -webkit-linear-gradient(bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%); 
    /* background-color: rgb(3, 39, 3) */
}

h1 {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 10px;
    color: rgba(0,0,0,0.6);
    text-shadow: 5px 6px 6px rgba(0,0,0,0.2),
                     0px -5px 35px rgba(255,255,255,0.3);
}

h3 {
    color: rgb(172, 92, 36)
}

#container {
    width: 1100px;
    margin: auto;
}

/* ++++++++++++++++++++++++++NAVBAR++++++++++++++++++++++++++++++++
*/
#navbar {
    background-color: rgb(172, 92, 36);
    height: 50px;
}

#nav-btns-wrapper {
    display: inline-block;
    vertical-align: top;
    float: right;
    border-right: 2px solid rgb(83, 37, 2);
}

.nav-btn {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    padding: 0px 10px;
    border-left: 2px solid rgb(83, 37, 2);
    text-decoration: none;
    color: rgb(9, 77, 12);
}

.nav-btn:hover {
    background-color: rgb(202, 119, 10);
}

#nav-image {
    padding: 0px 5px 5px;
}

/* ++++++++++++++++++++++++++MAP++++++++++++++++++++++++++++++++
Always set the map height explicitly to define the size of the div
* element that contains the map. */
.map {
    height: 54vh;
    width: 96%;
    margin: 20px;
    display: inline-block;
    border-radius: 5px
}

/* ++++++++++++++++++++++++++HOME++++++++++++++++++++++++++++++++
*/
#results {
    margin: 0 10%;
    min-width: 600px;
    height: 32.5vh;
    min-height: 200px;
    overflow-y: scroll;
}

.result {
    margin: 5px 0 0;
    padding: 5px;
    background-color: rgb(199, 157, 101);
    border-radius: 5px
}

/* ++++++++++++++++++++++++++ABOUT++++++++++++++++++++++++++++++++
*/


/* ++++++++++++++++++++++++++PROFILE++++++++++++++++++++++++++++++++
*/


/* ++++++++++++++++++++++++++LOGIN++++++++++++++++++++++++++++++++
*/
.login_container {
    padding: 20% 30%;
}

#login-box, #reg-box {
    display:inline-block;
    vertical-align:top;
    border:1px solid black;
    padding:0 18px 18px 18px;
}

#reg-box {
    margin-right: 200px; 
}


/* ++++++++++++++++++++++++++SITE++++++++++++++++++++++++++++++++
*/
#site-description {
    display: inline-block;
    max-width: 700px;
    float: right;
}

#site-description h3{
}

#site-info-frame {
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(199, 157, 101);
    border-radius: 5px;
}

.site-map {
    height: 54vh;
    width: 100%;
    display: inline-block;
    border-radius: 5px
}

#site-titles {
    display:inline-block;
    vertical-align:top;
    text-align:left
}

#site-info {
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
}

#site-services {
    display: inline-block;
    vertical-align: top;
}

#site-activities {
    display: inline-block;
    vertical-align: top;
}

#weatherdiv{
    display: inline-block;
    vertical-align: top;
}

#weatherdiv div{
    display: inline-block;
    vertical-align: top;
}

#weatherdiv p{

}

#weatherdiv img{

}


/* ++++++++++++++++++++++++++ADD SITE PAGE++++++++++++++++++++++++++++++++
*/
.map-addpage {
    height: 54vh;
    width: 680px;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 0;
}

#campform {
    min-width: 617px;
}

#campform div {
    /* border: 1px solid black; */
}

#campform_left {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    width:28%;
    margin: 8px;
    background-color: rgb(199, 157, 101);
    border-radius: 5px
}

#campform_right {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    width:68%;
}

#campform_services {
    display: inline-block;
    vertical-align: top;
    width:48%;
    margin: 8px;
    padding: 5px;
    background-color: rgb(199, 157, 101);
    border-radius: 5px;
    width: 500px;
}

#campform_services .cb {
    width: 150px;
    display: inline-block;
}

#campform_activities .cb {
    width: 180px;
    display: inline-block
}

#campform_activities {
    display: inline-block;
    vertical-align: top;
    width:48%;
    margin: 8px;
    background-color: rgb(199, 157, 101);
    border-radius: 5px;
    width: 500px;
}

#campform_submit {
    height: 50px;
    background-color: rgb(199, 157, 101);
    margin: 10px 50px;
    padding: 0 40px;
    position: relative;
    top: -30px;
}



